@model Vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "New";
}

<h2>New Customer</h2>

@using (@Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.Name)
        @Html.TextBoxFor(c => c.Customer.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Customer.Birthdate)
        @*
            In the <lable> tag for attribute is set so that 
            after clicking on label Name focus is set to textbox

            <label for="Birthdate">Date of Birth</label>
        *@
        @*@Html.TextBoxFor(c => c.Customer.Birthdate, new { @class = "form-control" })*@
        @Html.TextBoxFor(c=>c.Customer.Birthdate,"{0:d MMM yyyy}", new { @class= "form-control"})

    </div>    

   
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.MembershipTypeId)
        @Html.DropDownListFor(c => c.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes,"Id","Name"), "Select Membership Type", new { @class = "form-control" })
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(c => c.Customer.IsSubscribedToNewsletter)Subscribe to Newsletter?
        </label>
    </div>

    @Html.HiddenFor(c=>c.Customer.Id)
    <button class="btn btn-primary" type="submit">Save</button>
}

